body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* Configurar o cabeçalho */
header{
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Configurar foto de perfil */
.foto-perfil{
   width: 250px;
   height: 300px;
   border-radius: 10%;
   border: 3px solid white;
}

section
{
margin: 20px;
padding: 20px;
background: white;
border-radius: 10px;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

li
{
 padding: 5px;   
}


footer
{
text-align: center;
padding: 10px;
background:#222;
color: white;
}